
@{
    ViewBag.Title = "Project";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yalçın Peker | Blog</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="row my-2">
        <div class="col-12">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <p style="text-align: justify;">  <h3 style="text-align: center"> ÇEREZ POLİTİKASI  </h3>
                    <p>
                        yalcinpeker.com olarak sahip olduğumuz http://www.yalcinpeker.com web sitemizin ("Web Sitesi") ziyaretçilerinin gizlilik ve kişisel verilerinin korunması haklarını gözeterek ziyaretçilerimize daha iyi bir kullanım deneyimi sağlayabilmek için kişisel verilerini işlemekte ve internet çerezleri kullanmaktayız. Bu Çerez Kullanımı Politikası ("Politika"), tüm Web Sitesi ziyaretçilerimize ve kullanıcılarımıza hangi tür çerezlerin hangi koşullarda kullanıldığınıaçıklamaktadır. Üyelik işlemlerinizin tamamlanarak Web Sitesi'ne üye olmanız halinde kişisel verilerinizin işlenmesine dair detaylı bilgilere Aydınlatma Metni'nde ulaşabilirsiniz.
                    </p>
                    <p>
                        Bu Politika, Web Sitesi'ne hangi teknolojilerle, hangi yöntemlerle ve ne şekilde bağlandığınıza bağlı olmaksızın uygulanmaktadır. Dolayısıyla bu Politika'yı dikkatlice okuyup ileride inceleyebilmeniz açısından bir kopyasını almanızı tavsiye ederiz.
                    </p>
                    <p>
                        I. Reşit Olmayanlar
                        18 yaşın altındaysanız Web Sitesi'ni ebeveynlerinizin refakati altında ziyaret etmeniz gerekmektedir. Ebeveynlerinizin refakati olmadan bu Web Sitesi'ni kullanmamanız ve hiçbir kişisel verinizi paylaşmamanız gerekmektedir.
                    </p>
                    <p>
                        II. Çerez Nedir ve Hangi Amaçlarla Kullanılır?
                        Çerez, internet siteleri tarafından erişim sağladığınız bilgisayarınıza, cep telefonlarınıza, tabletlerinize veya diğer mobil cihazlarınıza kaydedilen küçük veri depolama dosyalarıdır. Bu dosyada Web Sitesi gezintinize ait bilgiler saklanır. Böylelikle erişim sağladığınız cihazlarınız Web Sitesi'ni tekrar kullandığınızda bu verilerinizi hatırlayacaktır. Dolayısıyla çerezler, Web Sitesi'ni etkili ve daha kolay kullanabilmeniz için gerekli ve önemlidir. Çerezler ayrıca Web Sitesi'nde ve üçüncü kişilerin web sitelerinde size daha uygun hizmet, ürün veya teklifler sunabilmemiz için kullanılmaktadır.
                    </p>

                    <h6>Çerezlerin kullanılmasının temel amaçları; </h6>
                    <p>
                        Web Sitesi'nin daha etkili kullanılabilmesi için bazı teknik verilere ihtiyaç duyulması,
                        Şirket'in sizin Web Sitesi'ni tarama ve kullanma tercih ve alışkanlıklarınıza ilişkin bilgilerin toplanması,
                        Şirket'in, 5651 sayılı Internet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun ve Internet Ortamında Yapılan Yayınların Düzenlenmesine Dair Usul ve Esaslar Hakkında Yönetmelik'ten kaynaklananlar başta olmak üzere, kanuni ve sözleşmesel yükümlülüklerini yerine getirebilmesi için IP adresiniz gibi kişisel verilerinize ihtiyaç duyması,
                        III. Çerezlerle Hangi Tür Verilerinizi İşliyoruz?
                        Çerezler, türlerine bağlı olmak üzere, genel olarak, Web Sitesi'ne eriştiğiniz cihazda tarama ve kullanım tercihlerinize ilişkin verileri toplamaktadır. Bu veriler, eriştiğiniz sayfaları, incelediğiniz hizmet ve ürünlerimizi, Web Sitesi'nde yaptığınız gezintiye ilişkin tüm bilgileri kapsamaktadır.
                    </p>
                    <p>
                        IV. Hangi Tür Çerezleri Hangi Şekillerde Kullanıyoruz?
                        Web Sitesi'nde farklı türlerde çerezler kullanmaktayız. Bunlar Web Sitesi'nin çalışmasını sağlamak için kullanılması zorunlu olan çerezler, işlev çerezleri, analiz/performans çerezleri ve hedefleme/reklam çerezleridir.
                    </p>
                    <h6>   KULLANIM BAKIMINDAN ÇEREZ TÜRLERİ: </h6>
                    <p>
                        Kullanılması Zorunlu Olan Çerezler: Bu çerezler, Web Sitesi'nin düzgün şekilde çalışması için mutlaka gerekli olan çerezlerdir. Bu çerezlere, sistemin yönetilebilmesi, sahte işlemlerin önlenmesi için ihtiyaç vardır ve engellenmesi halinde Web Sitesi çalışamayacaktır.
                    </p>
                    <p>
                        İşlev Çerezleri: Bu çerezler size daha gelişmiş ve kolay bir kullanım deneyimi yaşatmak için kullanılan çerezlerdir. Örneğin önceki tercihlerinizi hatırlamak, Web Sitesi üzerinde yer alan bazı içeriklere rahatça erişmenizi sağlamak işlevlerini yerine getirmektedir. Aşağıda detaylı olarak açıklanan şekilde bu çerezlerin kullanımını engelleyebilirsiniz.
                    </p>
                    <p>
                        Analiz/Performans Çerezleri: Bu çerezler, Web Sitesi'nin işleyişinizi analiz edip anlamımızı sağlayan ve sizinle etkilişime geçerek Web Sitesi'ni geliştirebilmemizi sağlamaktadır. Aşağıda detaylı olarak açıklanan şekilde bu çerezlerin kullanımını engelleyebilirsiniz.
                    </p>
                    <p>
                        Hedefleme/Reklam Çerezleri: Bu çerezler, size, reklam içerikleri de dâhil olmak üzere, ilginizi çekebilecek içerikleri saptayarak sunmamız için kullanılmaktadır. Aşağıda detaylı olarak açıklanan şekilde bu çerezlerin kullanımını engelleyebilirsiniz. Ancak bu çerezleri engellemeniz, reklam içeriklerini tamamen engellemeyecek sadece sizin ilginizi çekebilecek olan reklamlar yerine genel içerikli reklamlar sunulacaktır.
                    </p>
                    <p>
                        <h6>  SAKLANDIĞI SÜRE BAKIMINDAN ÇEREZ TÜRLERİ: </h6>
                    </p>
                    <p>
                        Kalıcı Çerezler (Persistent Cookies): Kişinin bilgisayarında belirli bir tarihe veya kullanıcı tarafından silinene kadar varlığını sürdüren çerezlerdir. Bu çerezler, çoğunlukla kullanıcıların site hareketlerini ve tercihlerini ölçmek amacıyla kullanılır.
                    </p>
                    <p>
                        Oturum Çerezleri (Session Cookies): Bu çerezler kullanıcının ziyaretini oturumlara ayırmak için kullanılır ve kullanıcıdan veri toplamaz. Çerez, kullanıcı ziyaret ettiği web sayfasını kapattığında veya belli bir süre pasif kaldığında silinir. Web Sitesi'nde üçüncü kişilerin başta reklam hizmetleri olmak üzere hizmet sağlamasına yardımcı olmak ve bu hizmetlerin etkinliğini artırmak için hedef ve izleme çerezleri kullanılır. Bu çerezler, ziyaret ettiğiniz web sayfalarını ve siteleri hatırlayabilir ve başta kullanıcı cihazının IP adresi olmak üzere kişisel verileri toplayabilir. Web Sitesi, bilgi toplamak, ilgi alanlarınızı ve demografik verileri hatırlamak ve size hedeflenmiş reklamları sunmak, reklamları iyileştirmek ziyaret edilme ve reklam gösterimleri sayısını, reklam hizmetlerinin diğer kullanımlarını ve bu reklam gösterimleri ve reklam hizmetleriyle ilgili etkileşimler arasındaki oranı belirlemek için hem birinci taraf hem de üçüncü taraf çerezlerini kullanmaktadır. Web Sitesi; Facebook ve LinkedIn gibi sosyal ağlara bağlantı sağlayan sosyal eklentilerden faydalanmaktadır. Web Sitesi'ni ziyaret ettiğinizde ve bu eklentileri kullandığınızda, Web Sitesi doğrudan seçilen sosyal ağın sunucusuna bağlanır. Ardından, eklentinin sunduğu içerik doğrudan sosyal ağlardan web tarayıcınıza iletilir ve ziyaret etmekte olduğunuz web sitesine eklenir. Böylelikle ilgili sosyal ağ size ait verilere ulaşarak işleyebilir ve ilgili sosyal ağdaki hesabınıza ait verilerle birleştirebilir.
                    </p>
                    Lütfen sosyal ağların eklentiler aracılığıyla işlediği verilerin kapsamı üzerinde herhangi bir etkimiz ve kontrolümüz olmadığını unutmayın. Sosyal ağların kişisel verilerinizi hangi amaçla, hangi yöntemlerle ve hangi süreyle işleyeceğine ilişkin daha fazla bilgi almak için lütfen ilgili sosyal ağlar tarafından yayınlanan kişisel verilerin işlenmesi politikalarını dikkatlice inceleyin.
                    <p>
                        Web Sitesi'nde aşağıda yer alan çerezler kullanmaktadır:
                    </p>
                    <p>
                        Çerezin Adı
                    </p>
                    <p>
                        Kullanım Amacı
                    </p>
                    <p>
                        Kullanım Süresi
                    </p>
                    <p>
                        Google Analytics
                    </p>
                    <p>
                        Google Analytics, çerezleri ziyaretçilerin Web Sitesini nasıl kullandıklarını analiz etmek amacıyla kullanır. Bu Web Sitesini kullanımınızla ilgili bilgiler (IP adresiniz dahil) Google'a aktarılarak Google tarafından ABD'deki sunucularda saklanmaktadır. Google bu bilgileri Web Sitesini kullanımınızı değerlendirmek, Şirket için Web Sitesi faaliyetini derlemek ve Web Sitesi faaliyeti ve internet kullanımıyla ilgili başka hizmetler sağlamak amacıyla kullanacaktır, fakat IP adresinizi Google tarafından depolanan diğer verilerle eşleştirmeyecektir. Google Analytics kullanımı hakkında daha fazla bilgi için (reddetme seçenekleri dahil), şu adresi ziyaret edebilirsiniz: http://www.google.co.uk/intl/en/analytics/privacyoverview.html.
                    </p>
                    <p>
                        Kalıcı Çerezler
                        Oturum Çerezleri
                    </p>
                    <p>
                        Google Ads
                    </p>
                    <p>
                        Google Ads, çerezleri, güvenli arama tercihlerinizi hatırlamak, size daha alakalı reklamlar göstermek, bir sayfaya kaç ziyaretçi geldiğini belirlemek, hizmetlerimize kaydolmanıza yardımcı olmak, verilerinizi korumak veya reklam ayarlarınızı hatırlamak için kullanır. Bu, web sitesinin ziyaretinizle ilgili bilgileri (örneğin, tercih ettiğiniz dil ve diğer ayarlar) hatırlamasına yardımcı olur. Bu Web Sitesini kullanımınızla ilgili bilgiler (IP adresiniz dahil) Google'a aktarılarak Google tarafından ABD'deki sunucularda saklanmaktadır. Google bu bilgileri Web Sitesini kullanımınızı değerlendirmek, Şirket için Web Sitesi faaliyetini derlemek ve Web Sitesi faaliyeti ve internet kullanımıyla ilgili başka hizmetler sağlamak amacıyla kullanacaktır, fakat IP adresinizi Google tarafından depolanan diğer verilerle eşleştirmeyecektir. Google Ads çerez kullanımı hakkında daha fazla bilgi için (reddetme seçenekleri dahil), şu adresi ziyaret edebilirsiniz: https://policies.google.com/privacy?hl=tr
                    </p>
                    <p>
                        Kalıcı Çerezler
                        Oturum Çerezleri
                    </p>
                    <p>
                        Insider
                    </p>
                    <p>
                        Insider, web tarayıcısı aracılığıyla bilgisayarınıza veya üçüncü taraf bir analiz sağlayıcısına ait benzersiz bir tanımlayıcı içeren küçük metin dosyaları olan “çerezleri” kullanır. Bunu hizmetleri ve web sitelerini geliştirmek için kullanır. Insider, belirli pazarlama kampanyalarının ve bazı ürünlerinin performansını izlemek için Google Analytics'i kullanır. Bu, üçüncü taraf hizmet sağlayıcıların, farklı temas noktalarında Insider adına uyarlanmış reklamlar oluşturmasına izin vermektir. Bu servis sağlayıcılar, kişisel bilgilerinizi, iletişim bilgilerinizi vb. İçermeyen IP adresinizi ve kişisel olarak tanımlanamayan bilgilerinizi toplayabilir. Bu çerezler ayrıca web sitemizin nasıl kullanıldığına ve performansına ilişkin istatistiksel bilgiler de sağlar. Insider çerez kullanımı hakkında daha fazla bilgi için (reddetme seçenekleri dahil), şu adresi ziyaret edebilirsiniz: https://useinsider.com/privacy-policy/
                    </p>
                    <p>
                        Kalıcı Çerezler
                        Oturum Çerezleri
                    </p>
                    <p>
                        Facebook
                    </p>
                    <p>
                        Facebook çerezleri, facebook hesabınız varsa, site ve uygulamalar dahil olmak üzere Facebook ürünlerini kullanırsanız veya Facebook ürünlerini kullanan siteleri veya uygulamaları (Beğen düğmesi ve diğer Facebook Teknolojileri dahil) ziyaret ederseniz, kullanır. Çerezler, Facebook'un Facebook ürünlerini size sunmasını ve kayıtlı veya giriş yapmış olup olmamanızdan bağımsız olarak, diğer internet siteleri ve uygulamaları kullanımınız dahil olmak üzere sizin hakkında aldığı bilgileri anlamasını sağlar. Çerezleri; kimlik kontrolü, güvenlik ve site bütünlüğü, reklamlar, tavsiyeler, ölçüm, analiz ve raporlama için kullanır.
                    </p>
                    <p>
                        Ayrıca ilginizi çekebilecek reklamları sosyal medya platformlarında da sunabilmek ve özel hedef kitle oluşturmak amacıyla kişisel verilerinizden e-posta adresiniz bu platformlar ile paylaşılmaktadır. E-posta adresiniz, bu platformların sunduğugüvenli kanallar ve ortamlar üzerinden aktarılmaktadır. Sosyal medya platformları, e-posta adresinizi hashleyerek, yalnızca eşleştirme işlemi için kullanmaktadır. E-Posta adresiniz üçüncü taraflarla veya diğer reklam verenlerle paylaşılmaz ve eşleştirme işlemi tamamlandıktan sonra mümkün olan en kısa sürede sosyal medya platformlarının sistemlerinden silinir. Örneğin; Facebook, (a) kişisel veriniz Facebook sistemlerinde bulunduğu sürece verilerin güvenliğini ve bütünlüğünü korumak ve (b) Facebook sistemlerinde bulunan kişisel verinize yanlışlıkla veya yetkisiz olarak erişilmesine ve verinizin yanlışlıkla veya yetkisiz olarak kullanılmasına, değiştirilmesine veya ifşa edilmesine karşı korumak için geliştirilen teknik ve fiziksel güvenlik önlemlerini de içerecek şekilde, özel hedef kitlenizi ("özel hedef kitleniz") oluşturan hash yöntemiyle şifrelenen e-posta adresinizin ve Facebook Kullanıcı Kimliği koleksiyonunun gizliliğini ve güvenliğini sağlayacaktır. Ayrıca, izniniz olmadan veya yasalar gerektirmediği sürece, Facebook üçüncü taraflara veya diğer reklam verenlere özel hedef kitleniz için erişim veya bilgi vermez, özel hedef kitle bilgilerinizi kullanıcılarımız hakkındaki bilgilere eklemez veya ilgi alanına dayalı profiller oluşturmaz ya da özel hedef kitlenizi size hizmet sunmanın haricinde kullanmaz. Facebook özel hedef kitleler koşulları için https://www.facebook.com/ads/manage/customaudiences/tos.php?_=_ adresini, Facebook Gizlilik İlkeleri için https://www.facebook.com/privacy/explanation adresini ziyaret edebilirsiniz.
                    </p>
                    <p>
                        Kalıcı Çerezler
                        Oturum Çerezleri
                    </p>
                    <p>
                        V. Çerezlerin Kullanılmasını Nasıl Engelleyebilirsiniz?
                        Çerezlerin kullanılması Web Sitesi'nin daha iyi hizmet vermekle birlikte eğer dilerseniz çerezlerin kullanılmasını engelleyebilirsiniz. Ancak bu takdirde sitenin tam olarak işlevini gösterememesi ve tüm özelliklerinden yararlanamayabileceğinizi unutmayınız. Çerezlerin kullanılmasını engellemek için kullandığınız internet tarayıcınızın ayarlarınızı değiştirmeniz gerekmektedir. Bu değişiklikler kullandığınız cihaz ve internet tarayıcısına göre değişiklik göstermektedir. Aşağıda farklı internet tarayıcıları üzerinden çerezlerin kullanılmasını engellemek için hangi adımların izlenmesi gerektiğine ilişkin bilgiler yer almaktadır:
                    </p>
                    <p>
                        • Internet Explorer
                    </p>
                    <p>
                        1. Masaüstünü açın ve görev çubuğunda Internet Explorer simgesine dokunun veya tıklayın.
                        2. Araçlar düğmesine ve İnternet seçenekleri'ne dokunun veya tıklayın.
                        3. Gizlilik sekmesine dokunun veya tıklayın, ardından tüm tanımlama bilgilerini engellemek için Ayarlar'ın altında bulunan kaydırıcıyı yukarıya hareket ettirin ve Tamam düğmesine dokunun veya tıklayın.
                    </p>
                    <p>
                        • Microsoft Edge
                    </p>
                    <p>
                    1. Microsoft Edge tarayıcınızın sağ üst köşesinden üç nokta işareti olan bölüme tıklayın ve Ayarlar bölümüne gelin.
                    2. Karşınıza gelen yeni pencereden Temizlenecek Öğeleri Seç dedikten sonra karşınıza gelen pencereden temizlemek istediğiniz bölümleri seçin.
                    3. Burada birçok bölüm bulunmaktadır. İstediğinizi seçerek temizleme işlemine başlayabilirsiniz
                    </p>
                    <p>
                        • Google Chrome
                    </p>
                    <p>
                        1. Bilgisayarınızda Chrome'u açın.
                        2. Sağ üstte Diğer Ayarlar'ı tıklayın.
                        3. Altta Gelişmiş'i tıklayın.
                        4. "Gizlilik ve güvenlik"in altında İçerik ayarları'nı tıklayın.
                        5. Çerezler'i tıklayın.
                        6. "Tüm çerezler ve site verileri"nin altında Web Sitesi'nin adını arayın.
                        7. Sitenin sağındaki Kaldır simgesini tıklayın
                    </p>
                    <p>
                        • Mozilla Firefox
                    </p>
                    <p>
                        1. Firefox Menü düğmesine tıklayın ve Seçenekler'i seçin.
                        2. Gizlilik ve Güvenlik panelini seçin ve Geçmiş bölümüne gidin.
                        3. Firefox ayarını geçmiş için özel ayarları kullansın olarak değiştirin.
                        4. Çerezleri göster... düğmesine tıklayın. Çerezler penceresi görünecektir.
                        5. Arama: alanına, çerezlerini silmek istediğiniz sitenin adını yazın. Aramanızla eşleşen çerezler görüntülenecektir.
                        6. Silmek istediğiniz çerez(ler)i seçip Seçilenleri sil düğmesine tıklayın.
                        7. Kapat düğmesine tıklayarak Çerezler penceresini kapatın. Sonra da about:preferences sayfasını kapatın
                    </p>
                    <p>
                        • Safari
                    </p>
                    <p>
                        1. Safari > Tercihler'i seçin.
                        2. Gizlilik öğesini tıklayın.
                        3. Web Sitesi Verilerini tıklayın.
                        4. Bir veya daha fazla web sitesi seçin ve sonra Sil veya Tümünü Sil'e tıklayın.
                    </p>
                    <p>
                        Diğer ana web tarayıcılarında bu işlemin nasıl yapılacağı hakkında daha fazla bilgiyi https://www.esb.org.tr/cerez-bellek veya https://www.aboutcookies.org adresinde bulabilirsiniz.
                    </p>
                    <p>
                        Ziyaret ettiğiniz web sitelerinin geride bıraktığı tüm çerezli üçüncü parti yazılımlar aracılığıyla da silebilirsiniz.
                    </p>
                    <p>
                        VI. Bizimle İletişime Geçin
                        Politika ile ilgili tüm soru ve görüşlerinizi bize iletmek için bizimle aşağıdaki adreste belirtilen iletişim yollarından birini kullanabilirsiniz:
                    </p>
                </div>



            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>