body {
}


#demo {
    background-color: #333333;
}

strong, b {
    color: dodgerblue;
    font-weight: bold;
}

.socialmedia {
    list-style-type: none;
    color: white;
    margin-right: 5px;
    float: left;
    width: 75px;
}

.sociallinkcolor {
    color: lightslategray;
    font-size: 25px;
}


.sociallinkcolor:hover {
        color: white;
        font-size: 25px;
    }

footer a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}